note.*
.ruff_cache
__pycache__/
.pytest_cache
*.egg-info
*.json
*.env
*.bin
*.sqlite3
*.jpg
*.jpeg
*.png


# fashon-vton 오픈소스 ignore
src/fashn_vton/.git
src/fashn_vton/.gitignore
src/fashn_vton/examples/
src/fashn_vton/scripts/
src/fashn_vton/src/
src/fashn_vton/tests/
src/fashn_vton/LICENSE
src/fashn_vton/pyproject.toml
src/fashn_vton/README.md
src/fashn_vton/weights/

